<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="core.service.impl,core.struts,core.dao.impl"/>
	
	<!-- 数据源配置 -->
	<import resource="springDatasource.xml"/>
	
	<!-- 应用程序核心Bean配置 -->
	<import resource="ApplicationContext-core-beans.xml"/>

	<!-- aop配置 -->
	<bean id="serviceAopLog" class="core.service.interceptor.ServiceIntercetor"/>
	<aop:config>
		<!-- 事务切入 -->
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *..*ServiceImpl.*(..))" order="2"/>
	
		<!-- 日志切入 -->
		<aop:aspect id="serviceAopLog" ref="serviceAopLog" order="1">
			<aop:around 
				pointcut="execution(* *..*ServiceImpl.*(..)) and !bean(businessLogService)" 
				method="logAop" />
		</aop:aspect>
	</aop:config>



</beans>
